<div class="site-footer">
    <nav aria-label="External Links" class="external-nav">
    <a href="https://webpages.uncc.edu/ngustaf1/">CLT EDU</a>
    <span class="sep">||</span>
    <a href="https://github.com/illcommittee/illcommittee.github.io">GitHub</a>
    <span class="sep">||</span>
    <a href="https://illcommittee.github.io">Github.io</a>
    <span class="sep">||</span>
    <a href="https://www.freecodecamp.org/sepiksprime" target="_blank" rel="noopener">freeCodeCamp</a>
    <span class="sep">||</span>
    <a href="https://www.codecademy.com/profiles/NotoriousGecko">Codecademy</a>
    <span class="sep">||</span>
    <a href="https://www.linkedin.com/in/nathaniel-gustafson/">LinkedIn</a>
  </nav>

  <p>
    Page designed by
    <a href="https://ndgllc.co/" target="_blank" rel="nopener">NDG LLC</a>
    &copy; 2025
  </p>

  <p class="validation-label">Validation Links:</p>
    <nav>
        <a class="pill"
            href="https://validator.w3.org/check/referer"
            target="_blank" rel="noopener">
            <span class="pill-left">W3C</span><span class="pill-right">HTML ✓</span>
        </a>
        <a class="pill"
            href="https://jigsaw.w3.org/css-validator/check/referer"
            target="_blank" rel="noopener">
            <span class="pill-left">W3C</span><span class="pill-right">CSS ✓</span>
        </a>
    </nav>
</div>