<div class="site-footer">
  <p>
    &copy; 2025 Deliverr Trucking LLC. All rights reserved.
  </p>
  <p>
    Based in Charlotte, NC • Phone:
    <a href="tel:19805795553">(980) 579-5553</a> •
    Email:
    <a href="mailto:juanc@deliverrtrucking.com">juanc@deliverrtrucking.com</a>
  </p>
  <p class="small">
    No hazardous materials. Cargo value must be declared before transport.
  </p>

  <p>
    Page designed by
    <a href="../ndgllc.co/index.html" target="_blank" rel="nopener">NDG LLC</a>
    &copy; 2025
  </p>

  <p class="validation-label">Validation Links:</p>
    <nav>
        <a class="pill"
            href="https://validator.w3.org/check/referer"
            target="_blank" rel="noopener">
            <span class="pill-left">W3C</span><span class="pill-right">HTML ✓</span>
        </a>
        <a class="pill"
            href="https://jigsaw.w3.org/css-validator/check/referer"
            target="_blank" rel="noopener">
            <span class="pill-left">W3C</span><span class="pill-right">CSS ✓</span>
        </a>
    </nav>
</div>