<div class="site-header">
  <a class="logo" href="index.html">
    Deliverr Trucking LLC
  </a>

  <nav aria-label="Main navigation">
    <ul class="nav-list">
      <a href="project_overview.html" class="nav-link">Project Overview</a><span class="sep">||</span>
      <a href="index.html" class="nav-link">Home</a><span class="sep">||</span>
      <a href="about.html" class="nav-link">About</a><span class="sep">||</span>
      <a href="gallery.html" class="nav-link">Photos</a><span class="sep">||</span>
      <a href="reviews.html" class="nav-link">Testimonies</a><span class="sep">||</span>
      <a href="estimate.html" class="nav-link">Get an Estimate</a>
    </ul>
  </nav>
</div>