    <nav>
      <a href="https://webpages.uncc.edu/ngustaf1/">CLT EDU</a>
      ||
      <a href="https://github.com/illcommittee/illcommittee.github.io">GitHub</a>
      ||
      <a href="https://illcommittee.github.io">Github.io</a>
      ||
      <a href="https://www.freecodecamp.org/sepiksprime" target="_blank" rel="noopener">freeCodeCamp</a>
      ||
      <a href="https://www.codecademy.com/profiles/NotoriousGecko">Codecademy</a>
      ||
      <a href="https://www.linkedin.com/in/nathaniel-gustafson/">Linkedin</a>
    </nav>
    <p>Page Designed by <a href="ndgllc.co/">NDG LLC.</a>&copy; 2025</p>

    <p class="validation-label">Validation Links:</p>
    <nav>
        <a class="pill"
            href="https://validator.w3.org/check/referer"
            target="_blank" rel="noopener">
            <span class="pill-left">W3C</span><span class="pill-right">HTML ✓</span>
        </a>
        <a class="pill"
            href="https://jigsaw.w3.org/css-validator/check/referer"
            target="_blank" rel="noopener">
            <span class="pill-left">W3C</span><span class="pill-right">CSS ✓</span>
        </a>
    </nav>