    <nav>
      <a href="https://webpages.uncc.edu/ngustaf1/">CLT EDU</a>
      ||
      <a href="https://github.com/illcommittee/illcommittee.github.io">GitHub</a>
      ||
      <a href="https://illcommittee.github.io">Github.io</a>
      ||
      <a href="https://www.freecodecamp.org/sepiksprime" target="_blank" rel="noopener">freeCodeCamp</a>
      ||
      <a href="https://www.codecademy.com/profiles/NotoriousGecko">Codecademy</a>
      ||
      <a href="https://www.linkedin.com/in/nathaniel-gustafson/">Linkedin</a>
    </nav>
    <p>Page Designed by <a href="ndgllc.co/">NDG LLC.</a>&copy; 2025</p>

    <!-- HTML Validation Link -->
    <a href="https://validator.w3.org/nu/?doc=https://illcommittee.github.io/itis3135/index.html" target="_blank">
        <img src="z_archives/html_validation.png" alt="Valid HTML5!" class="validation-tag">
    </a>
    <!-- CSS Validation Link -->
    <a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fillcommittee.github.io%2Fitis3135%2Findex.html&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en">
        <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" class="validation-tag">
    </a>